.chat-box {
    width: 500px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
  }
  
  .chat-header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    border-radius: 5px 5px 0 0;
  }
  
  .chat-header h3 {
    margin: 0;
    padding: 0;
  }
  
  .chat-messages {
    flex-grow: 1;
    padding: 10px;
    overflow-y: auto;
  }
  
  .message-item {
    margin-bottom: 10px;
  }
  
  .message-item.incoming {
    align-self: flex-start;
    background-color: #ddd;
    padding: 10px;
    border-radius: 5px;
  }
  
  .message-item.outgoing {
    align-self: flex-end;
    background-color: #4CAF50;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
  }
  
  .message-content {
    margin: 0;
    padding: 0;
  }
  
  .message-date {
    font-size: 12px;
    color: black;
    margin: 0;
    padding: 0;
    text-align: right;
  }
  
  .chat-input {
    background-color: #fff;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .chat-input input {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    flex-grow: 1;
    margin-right: 10px;
  }
  
  .chat-input button {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .chat-input button:hover {
    background-color: #45a049;
  }